@import 'theme';

.header {
  background-color: $wm-secondary;
  color: $wm-primary-light;
  position: fixed;
  width: 100%;
  min-width: 350px;
  height: 4rem;
  padding: 1rem;
  box-shadow: $wm-boxshadow-black-2;
  z-index: 1000;

  .title {
    font-size: 20px;
    text-transform: uppercase;
    transition: $wm-transition-fast;
    cursor: pointer;

    &:hover {
      color: $wm-primary;
    }
  }

  .current-state {
    margin-left: 1rem;
    text-transform: uppercase;
    color: $wm-secondary-verylight;
  }

  .navigation {
    .menu {
      .menu-item {
        padding-left: 1rem;
        cursor: pointer;
        transition: $wm-transition-fastest;

        &:hover {
          color: $wm-primary;
        }

        &:focus {
          color: $wm-primary;
        }
      }
    }
  }

  .avatar {
    margin-left: 1rem;
    margin-top: 5px;
    cursor: pointer;

    i {
      &:hover {
        color: $wm-primary;
      }

      &:focus {
        color: $wm-primary;
      }
    }
  }
}
