@import 'theme';

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(black, .6);
  z-index: 50;
  animation: fade-in $wm-transition-medium;

  .modal-content {
    position: relative;
    width: 70%;
    height: 70%;
    background-color: $wm-secondary-dark;
    color: $wm-primary-light;
    box-shadow: $wm-boxshadow-black-2;
  }

  .modal-close {
    position: absolute;
    margin: 1rem;
    bottom: 15%;
    right: 17%;
    text-align: right;
  }

  .modal-search {
    position: absolute;
    margin: 1rem;
    top: 15%;
    right: 17%;
    text-align: right;
    z-index: 51;
  }

  &.destroyed {
    animation: fade-out $wm-transition-medium;
  }
}

// Glyphs
.modal-glyph-list {
  padding: 2rem;

  .modal-glyph-list-item {
    cursor: pointer;
    transition: all $wm-transition-fast;

    &:hover {
      background-color: $wm-secondary-light;
    }

    .modal-glyph-icon {
      width: 35px;
      height: 35px;
      margin: .5rem;
    }

    // Name + Description
    .modal-glyph-body {
      margin: .3rem .5rem .5rem .5rem;

      .modal-glyph-description {
        color: white;
        font-size: 12px;
      }
    }
  }
}
