@import 'theme';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(black, .6);
  z-index: 50;
  animation: fade-in $wm-transition-medium;

  .modal-content {
    position: relative;
    width: 70%;
    height: 70%;
    background-color: $wm-secondary-dark;
    color: $wm-primary-light;
    box-shadow: $wm-boxshadow-black-2;

    &.small {
      width: 60%;
      height: 60%;
    }

    &.auto {
      width: auto;
      height: auto;
    }
  }

  .modal-close {
    position: absolute;
    margin: 1rem;
    bottom: 15%;
    right: 17%;
    text-align: right;

    .button-group {
      .button {
        margin: 0 .5rem;
      }
    }

    &.modal-small {
      bottom: 20%;
      right: 20%;
    }
  }

  .modal-search {
    position: absolute;
    margin: 1rem;
    top: 15%;
    right: 17%;
    text-align: right;
    z-index: 51;
  }

  &.destroyed {
    animation: fade-out $wm-transition-medium;
  }
}

// Glyphs
.modal-glyph-list {
  padding: 2rem;

  .modal-glyph-list-item {
    cursor: pointer;
    transition: all $wm-transition-fast;

    &:hover {
      background-color: $wm-secondary-light;
    }

    .modal-glyph-icon {
      width: 35px;
      height: 35px;
      margin: .5rem;
    }

    // Name + Description
    .modal-glyph-body {
      margin: .3rem .5rem .5rem .5rem;

      .modal-glyph-description {
        color: white;
        font-size: 12px;
      }
    }
  }
}


// Saved Talents modal
.saved-talents-modal {
  height: 100%;
  padding: 4rem;

  .saved-talents-list {
    position: relative;
    height: 100%;

    &:before {
      content: ' ';
      display: block;
      height: 100%;
      width: 1px;
      background: #ccc;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .saved-talents-new {
    height: 100%;
  }
}

