@import 'theme';

// headers
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
}

// BUTTONS
.button {
  padding: .8rem 1.5rem;
  box-shadow: $wm-boxshadow-2;

  &.clear {
    box-shadow: none;

    &:active {
      box-shadow: none;
    }
  }

  &:active {
    box-shadow: $wm-boxshadow-1;
  }

  &.dark-bg {
    box-shadow: $wm-boxshadow-black-2;

    &:active {
      box-shadow: none;
    }
  }
}

// --- INPUTS ---
.input-field {
  border: none;
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid rgba($wm-primary-dark, .5);

  &:focus {
    border: none;
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid $wm-primary-dark;
  }
}

.input-search {
  border: none;
  outline: none;
  box-shadow: $wm-boxshadow-1;

  &:focus {
    // border: none;
    // outline: none;
    box-shadow: $wm-boxshadow-1;
  }
}

.input-field-container {
  position: relative;

  .input-field {
    margin-bottom: 1.5rem;
  }

  .input-form-error-msg {
    font-size: 12px;
    color: red;
    padding-left: 7px;
    position: absolute;
    bottom: -1.5rem;
  }
}

.form-fields {
  position: relative;
  margin-bottom: 1rem;

  .server-msg {
    position: absolute;
    padding-left: 7px;
    font-size: 12px;
    bottom: 0;

    &.error {
      color: red;
    }

    &.success {
      color: green;
    }
  }
}
