@import 'theme';

// headers
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
}

// BUTTONS
.button {
  padding: .8rem 1.5rem;
  box-shadow: $wm-boxshadow-2;

  &.clear {
    box-shadow: none;

    &:active {
      box-shadow: none;
    }
  }

  &:active {
    box-shadow: $wm-boxshadow-1;
  }

  &.dark-bg {
    box-shadow: $wm-boxshadow-black-2;

    &:active {
      box-shadow: none;
    }
  }
}

// --- INPUTS ---
.input-field {
  border: none;
  box-shadow: none;
  outline: none;
  color: $wm-primary;
  border-bottom: 2px solid rgba($wm-primary-dark, .5);

  &:focus {
    border: none;
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid $wm-primary-dark;
  }

  &.has-error {
    border-bottom: 2px solid $wm-red;
  }

  &:-webkit-autofill + .input-field-label {
    font-size: 12px;
    top: -15px;
    left: 1px;
  }
}

.input-search {
  border: none;
  outline: none;
  box-shadow: $wm-boxshadow-black-2;

  &:focus {
    box-shadow: $wm-boxshadow-black-1;
  }
}

.input-field-container {
  position: relative;

  &:hover {
    .input-field-label {
      color: $wm-secondary;
    }
  }

  .input-field {
    margin: 1.5rem 0;
    background-color: inherit;

    &:-webkit-autofill {
      background-color: blue;
    }
  }

  .input-field-label {
    color: $wm-secondary-light;
    position: absolute;
    pointer-events: none;
    top: 5px;
    left: 7px;
    transition: all $wm-transition-fast;

    &::first-letter {
      text-transform: capitalize;
    }

    &.small {
      font-size: 12px;
      top: -15px;
      left: 1px;
    }

    &.focused {
      color: $wm-primary-dark;
    }

    &.has-error {
      color: $wm-red;
    }
  }
}

.form-fields {
  position: relative;
  margin-bottom: 1rem;

  .server-msg {
    position: absolute;
    padding-left: 7px;
    font-size: 12px;
    bottom: 0;

    &.error {
      color: red;
    }

    &.success {
      color: green;
    }
  }
}
