@import "theme";

.planner-container {
  margin: 50px auto;
  padding: 1rem;
  width: 80%;
  min-width: 360px;
  align-items: flex-start;

  .planner-routes {
    min-width: 100px;
    width: 200px;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    animation: $wm-transition-slow slide-down;

    p {
      font-size: 12px;
    }
  }
}
