@import "theme";

.talent-container {
  margin: 50px auto;
  padding: 1rem;
  min-width: 800px;
  width: 90%;
  max-width: 1260px;
  background-color: red;

  .pick-class {
    text-align: center;
  }

  .calculator {

    .tree {
      width: 200px;
      height: 500px;
      margin: .2rem;
      border: 2px solid $wm-secondary;

      .talent {
        position: relative;
        height: 35px;
        width: 35px;
        margin: 5px 6px;
        transition: $wm-transition-medium;

        &.has-talent {
          background-size: 31px 31px;
          border: 2px solid $wm-secondary-dark;
          border-radius: 3px;
          cursor: pointer;

          &:hover {
            box-shadow: $wm-inset-boxshadow-white;
          }

          .talent-points {
            position: absolute;
            background-color: black;
            height: 16px;
            width: 12px;
            border: 1px solid yellow;
            border-radius: 3px;
            right: -6px;
            bottom: -8px;
            text-align: center;
            line-height: 16px;
            font-size: 10px;
            color: green;
            transition: all $wm-transition-fast;

            -webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */

            &.maxed {
              color: yellow;
            }
          }

          .talent-arrow {
            position: absolute;
            z-index: 999;
            -webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */

            &.right {
              left: 32px;
              bottom: 7px;
              height: 14px;
              width: 15px;
            }

            &.down-left {
              right: 32px;
              top: 12px;
              width: 32px;
              height: 32px;
            }

            &.down-right {
              left: 32px;
              top: 12px;
              width: 32px;
              height: 32px;
            }

            &.down-1 {
              top: 32px;
              left: 8px;
              width: 14px;
              height: 12px;
            }

            &.down-2 {
              top: 32px;
              left: 8px;
              width: 14px;
              height: 56px;
            }

            &.down-2-right {
              width: 32px;
              left: 32px;
              top: 12px;
              height: 77px;
            }

            &.down-3 {
              top: 32px;
              left: 8px;
              width: 14px;
              height: 101px;
            }
          }
        }
      }
    }
  }
}

.inactive {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all $wm-transition-medium;
}
