// Colours
$wm-primary: #bc5d00;
$wm-primary-light: #f48b39;
$wm-primary-dark: #863100;
$wm-secondary: #443f37;
$wm-secondary-light: #6f6a61;
$wm-secondary-verylight: lighten($wm-secondary-light, 20%);
$wm-secondary-dark: #1d1911;

// Shadows
$wm-boxshadow-0: 1px 1px 3px 1px rgba($wm-secondary, .3);
$wm-boxshadow-1: 1px 1px 6px 1px rgba($wm-secondary, .5);
$wm-boxshadow-2: 2px 2px 6px 2px rgba($wm-secondary, .5);
$wm-boxshadow-black-1: 1px 1px 3px 1px rgba(black, .6);
$wm-boxshadow-black-2: 2px 2px 6px 2px rgba(black, .6);
$wm-inset-boxshadow-white: inset 0px 0px 6px 2px rgba(white, .6);

// Transitions
$wm-transition-slow: .6s ease;
$wm-transition-medium: .3s ease;
$wm-transition-fast: .2s ease;
$wm-transition-fastest: .1s ease;

// Animations
@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
