@import "theme";

.wm-tooltip {
  position: absolute;
  visibility: hidden;
  max-width: 350px;
  padding: .5rem;
  background-color: darken($wm-secondary-dark, 20);
  color: $wm-primary-light;
  box-shadow: $wm-boxshadow-black-2;
  opacity: .9;
  z-index: 999;
  top: 0;
  left: 0;


  // Talent Tooltip
  .tooltip-ranks {
    position: absolute;
    top: .5rem;
    right: 1rem;
    text-align: right;
    color: gray;
  }

  .tooltip-click-to-learn {
    color: $wm-green;
  }

  .tooltip-click-to-remove {
    color: $wm-red;
  }

  .tooltip-image {
  position: absolute;
  top: 0;
  left: -45px;
  }

  .tooltip-next-rank {
    color: white;
    font-style: 14px;
    margin-top: 1rem;
  }

  .tooltip-description {
    widows: 100%;
    color: white;
    font-size: 12px;
  }
}
