@import "theme";

.wm-tooltip {
  position: absolute;
  max-width: 200px;
  min-width: 100px;
  padding: .5rem;
  background-color: darken($wm-secondary-dark, 20);
  color: $wm-primary-light;
  box-shadow: $wm-boxshadow-black-1;
  //bottom: 0;
  //left: 50%;
  //right: auto;
  //top: auto;
  opacity: 1;
}
