@import 'theme';

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

// Global

.no-padding {
  padding: 0;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-sides {
  padding-left: 0;
  padding-right: 0;
}

html {
  width: 100%;
  height: 100%;
  font-size: 14px;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  //background: linear-gradient(to right, $wm-primary-light, $wm-primary-dark);
  background-repeat: no-repeat;
}

.mainBody {
  padding: 5rem 1rem;
}

.dark-container {
  background-color: $wm-secondary-dark;
  color: $wm-primary-light;
}
