title= title
// Meta Data
meta(charset="utf-8" http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width = device-width, initial-scale = 1")

// Twitter Card data
meta(name="twitter:card" value="summary")
meta(name="twitter:site" content="@publisher_handle")
meta(name="twitter:title" content="Page Title")
meta(name="twitter:description" content="Page description less than 200 characters")
meta(name="twitter:creator" content="@author_handle")
meta(name="twitter:image" content="http://media.moddb.com/cache/images/mods/1/28/27592/thumb_300x150/.5.jpg")

// Open Graph data
meta(property="og:title" content="Title Here")
meta(property="og:type" content="article")
meta(property="og:url" content="http://www.example.com/")
meta(property="og:image" content="http://media.moddb.com/cache/images/mods/1/28/27592/thumb_300x150/.5.jpg")
meta(property="og:description" content="Description Here") 
meta(property="og:site_name" content="Site Name, i.e. Moz")
meta(property="fb:admins" content="Facebook numeric ID")

link(rel="stylesheet", type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css")
//link(rel="stylesheet", type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-rtl.min.css")
link(rel="stylesheet", type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-float.min.css")
//link(rel="stylesheet", type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-prototype.min.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed")
link(rel="stylesheet" type="text/css" href="stylesheets/css/global.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
