script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-foundation/0.8.0/mm-foundation-tpls.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular-animate.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.6/angular-sanitize.min.js")
// global vars
script(src="/js/variables/global-vars.js")
// main app
script(src="/js/wm.js")
// services
script(src="/js/wm-services.js")
// directives
script(src="/js/wm-directives.js")
//controllers
script(src="/js/wm-controllers.js")
