<div class="modal-overlay flex-container align-middle align-center" ng-class="{'destroyed': destroying}">
  <div class="modal-content-container" click-outside="closeModal()">
    <!-- Main modal content -->
    <div class="modal-content wm-scrollbar">
      <div class="modal-glyph-list">
        <ul class="menu">
          <li ng-if="!alreadyUsed(glyph)" class="modal-glyph-list-item small-12"
              ng-repeat="(key, glyph) in glyphs[type] | objectFilter:'name':modalSearch" ng-click="selectGlyph(glyph)">
            <!-- Glyphs -->
            <div class="flex-container">
              <img class="modal-glyph-icon" ng-src="{{::getGlyphIconPath(glyph)}}" alt="">
              <div class="modal-glyph-body">
                {{::glyph.name}}
                <div class="modal-glyph-description">
                  {{::glyph.description}}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- Modal Footer -->
    <div class="modal-footer flex-container align-middle align-center">
      <div class="flex-child-grow"></div>
      <!-- Search bar -->
      <div class="flex-child-shrink">
        <wm-input-search max-length="50" bind="modalSearch"></wm-input-search>
      </div>
      <!-- Close button -->
      <div class="flex-child-shrink">
          <a class="button secondary clear clear-lift no-margin" ng-click="closeModal()">Close</a>
      </div>
    </div>
  </div>
</div>
