//- Layout
doctype html
html(ng-app="wmApp" ng-cloak)
  head
    include partials/head.jade
  body(ng-controller="indexCtrl")
    //- Header
    div(ng-include="'partials/header.html'")
    div(class="mainBody")
      //- States
      div(ui-view)
      //- Footer
      div(ng-include="'partials/footer.html'")
  //- Scripts
  include partials/scripts.jade
