.planner-container {
  padding: 1rem;
  width: 100%;
  align-items: flex-start;

  .planner-routes {
    min-width: 100px;
    width: 200px;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    animation: $wm-transition-slow slide-down;

    p {
      font-size: 12px;
    }
  }
}
