.talent-container {
  position: relative;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  max-width: 900px;

  &.valid-class {
    min-width: 900px;
  }

  .pick-class {
    text-align: center;
  }

  .saved-container {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: .2rem;
    width: 225px;
    height: 225px;
    border: 2px solid $wm-secondary;
    box-shadow: $wm-boxshadow-black-1;

    .saved-container-inner {
      height: 100%;
      width: 100%;
      box-shadow: $wm-boxshadow-inset-1;
    }

    .saved-container-title {
      position: absolute;
      top: -25px;
      left: 0;
      color: $wm-secondary-verylight;
    }
  }

  .calculator {
    margin: 4rem 0;
    position: relative;

    .tree {
      width: 200px;
      height: 500px;
      margin: .2rem;
      border: 2px solid $wm-secondary;
      position: relative;
      box-shadow: $wm-boxshadow-black-1;

      &.glyphs {
        margin-left: 3.7rem;
        height: 80%;
        width: 250px;
        color: $wm-secondary-verylight;

        .major-glyphs {
          margin-top: 2rem;
        }

        .minor-glyphs {
          margin: 2rem 0;
        }

        .glyph {
          background-size: 40px 40px;
          height: 44px;
          width: 44px;
          margin: .5rem;
          background-color: $wm-secondary-dark;
          border: 2px solid $wm-secondary;
          border-radius: 3px;
          transition: all $wm-transition-medium;
          cursor: pointer;

          &:hover {
            box-shadow: $wm-inset-boxshadow-white;
          }
        }
      }

      .subtree-header {
        text-align: left;
        padding: .5rem 0;
        width: 200px;
        position: absolute;
        top: -30px;
        left: -2px;
        color: $wm-secondary-verylight;
        transition: all $wm-transition-slow;

        .subtree-header-specs {
          text-transform: capitalize;
          margin-right: 1rem;
        }

        &.has-points {
          color: $wm-primary;
        }

        &.is-primary {
          color: $wm-primary-light;
        }
      }

      .subtree-footer {
        text-align: left;
        padding: .5rem 0;
        width: 200px;
        position: absolute;
        bottom: -45px;
        left: -2px;

        i {
          cursor: pointer;
          transition: all $wm-transition-fast;

          &:hover {
            color: $wm-primary-dark;
          }
        }
      }

      .talent {
        position: relative;
        height: 35px;
        width: 35px;
        margin: 5px 6px;
        transition: $wm-transition-fast;

        .talent-inner {
          height: inherit;
          width: inherit;
        }

        &.is-empty {
          opacity: .4;

          &:hover {
            opacity: .8;
          }
        }

        &.has-talent {
          background-size: 31px 31px;
          border: 2px solid $wm-secondary-dark;
          border-radius: 3px;
          cursor: pointer;

          &:hover {
            box-shadow: $wm-inset-boxshadow-white;
          }

          .talent-points {
            position: absolute;
            right: -6px;
            bottom: -8px;
            height: 16px;
            width: 16px;
            background-color: black;
            border: 1px solid gray;
            text-align: center;
            text-align: center;
            font-size: 11px;
            line-height: 16px;
            transition: all $wm-transition-fast;

            -webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */

            &.min {
              color: yellow;
            }

            &.maxed {
              color: red;
            }
          }

          .talent-arrow {
            position: absolute;
            z-index: 49;
            -webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */

            &.right {
              left: 32px;
              bottom: 7px;
              height: 14px;
              width: 15px;
            }

            &.left {
              right: 32px;
              top: 7px;
              height: 14px;
              widows: 15px;
            }

            &.down-left {
              right: 32px;
              top: 12px;
              width: 32px;
              height: 32px;
            }

            &.down-right {
              left: 32px;
              top: 12px;
              width: 32px;
              height: 32px;
            }

            &.down-1 {
              top: 32px;
              left: 8px;
              width: 14px;
              height: 12px;
            }

            &.down-2 {
              top: 32px;
              left: 8px;
              width: 14px;
              height: 56px;
            }

            &.down-2-right {
              width: 32px;
              left: 32px;
              top: 12px;
              height: 77px;
            }

            &.down-2-left {
              width: 32px;
              right: 32px;
              top: 12px;
              height: 77px;
            }

            &.down-3 {
              top: 32px;
              left: 8px;
              width: 14px;
              height: 101px;
            }
          }
        }
      }
    }
  }
}
