.slideout {
    position: fixed;
    top: 7rem;
    bottom: 3rem;
    right: -20rem;
    width: 20rem;
    min-height: 220px;
    z-index: 10;
    background-color: darken($wm-secondary, 20);
    box-shadow: $wm-boxshadow-black-2;
    transition: $wm-transition-fast;
    color: $wm-primary-light;

    &.show {
        right: 0;
    }

    &.show-preview {
        right: -16.3rem;
    }

    .slideout-container {
        position: relative;
        height: 100%;
        width: 100%;

        .slideout-container-inner {
            height: 100%;
            width: 100%;

            .slideout-title {
                padding: 1rem 4rem;
            }
        }
        
        .slideout-arrow {
            position: absolute;
            height: 50%;
            width: 2rem;
            left: -2rem;
            top: 25%;
            color: $wm-secondary-dark;
            background-color: lighten($wm-secondary-light, 20);
            border-top-left-radius: .5rem;
            border-bottom-left-radius: .5rem;
            box-shadow: -2px 0px 2px rgba(black, .4);
            transition: $wm-transition-fast;
            cursor: pointer;

            &:hover {
                background-color: darken($wm-secondary-light, 10);
            }
        }
    }

    
}

// &:before {
//     content: ' ';
//     display: block;
//     height: 100%;
//     width: 1px;
//     background: #ccc;
//     position: absolute;
//     right: 0;
//     top: 0;
//   }