<!-- Should store your header here. -->
<div class="header flex-container align-middle">
  <div class="title flex-child-shrink" href="" ui-sref="home">
    Warmains
  </div>
  <div class="flex-child-grow"></div>

  {{currentUser.name}}

  <div class="navigation">
    <ul class="menu">
      <li class="menu-item" ui-sref="styles">Styles</li>
      <li class="menu-item" ui-sref="planner">Planner</li>
      <li ng-if="!currentUser" class="menu-item" ui-sref="login">Login</li>
      <li ng-if="!currentUser" class="menu-item" ui-sref="register">Register</li>
      <li ng-if="currentUser" class="menu-item" ng-click="logout()">Logout</li>
    </ul>
  </div>


  <!-- <div>
    {{$state.current.name}}
  </div> -->
</div>
