<!-- Should store your header here. -->
<div class="header flex-container align-middle" ng-class="">
  <div class="title flex-child-shrink" href="" ui-sref="home">
    Warmains
  </div>
  <div class="current-state">
    {{$state.current.name}}
  </div>
  <div class="flex-child-grow"></div>
  <div class="navigation flex-child-shrink">
    <ul class="menu">
      <li class="menu-item show-for-medium" ui-sref="styles">Styles</li>
      <li class="menu-item" ui-sref="planner">Planner</li>
      <li class="menu-item" ui-sref="login" ng-if="!currentUser">Login</li>
      <li class="menu-item" ui-sref="register" ng-if="!currentUser">Register</li>
      <li class="menu-item" ng-if="currentUser" ng-click="logout()">Logout</li>
    </ul>
  </div>

  <div class="avatar flex-child-shrink" ng-if="currentUser">
    <i class="material-icons">account_circle</i>
  </div>
</div>
