<div class="slideout" ng-class="{'show': show, 'show-preview': showPreview && !show}">
    <div class="slideout-container">
        <!-- Content -->
        <div class="slideout-container-inner wm-scrollbar">

            <h4 class="slideout-header flex-container align-middle">
                <i class="slideout-header-close material-icons" ng-click="toggleSlideout(false)">close</i>
                <span class="slideout-header-title">{{::slideoutTitle}}</span>
            </h4>
                
            <div class="saved-talents-list">
                <wm-talent-preview ng-repeat="item in itemList" talent="item" detailed="true" ng-click="navigateToItem(item)">
            </div>

        </div>
        <!-- Arrow on side that toggles slideout -->
        <div class="slideout-arrow flex-container align-middle align-center" ng-click="toggleSlideout()">
            <i ng-show="!show" class="material-icons">chevron_left</i>
            <i ng-show="show" class="material-icons">chevron_right</i>
        </div>
    </div>
</div>