<div ng-if="talent" class="talent has-talent" ng-style="{'background-image': 'url(' + talentImgPath() + ')' }"
     ng-class="{'inactive': isInactive() }"
     wm-tooltip position="bottom-middle" content-html="tooltip" content="{{talent.name}}"
     ng-click="addPoint()" ng-right-click="removePoint()">
     <div class="talent-points" ng-class="{'maxed': talentPoints[talentId] == talent.max_rank}"
          ng-if="talent.row * 5 <= talentPointsDetails[talent.tree].total">
       <span>{{talentPoints[talentId]}}</span>
     </div>
</div>
<!-- Just takes up a block -->
<div ng-if="!talent" class="talent" wm-tooltip  hide-tooltip="true"></div>
