<div class="flex-container flex-dir-column auth-container">

  <div class="title">Login</div>

  <!-- Registeration Form -->
  <div class="form-fields">
    <form name="loginForm" ng-submit="loginUser()" novalidate>
      <div class="input-field-container">
        <input class="input-field" type="text" placeholder="username" ng-model="auth.username">
        <span class="input-form-error-msg">{{usernameError}}</span>
      </div>
      <div class="input-field-container">
        <input class="input-field" type="password" placeholder="password" ng-model="auth.pass">
        <span class="input-form-error-msg">{{passError}}</span>
      </div>
      <button ng-disabled="loggingUser" class="button float-right" type="submit">Login</button>
    </form>

    <span class="server-msg error">{{serverError}}</span>
    <span class="server-msg success">{{serverSuccess}}</span>
  </div>

  <div class="auth-bottom-info">
    <div class="flex-child-auto">
      <a href="" class="button clear large no-margin" ui-sref="register">Register</a>
    </div>
  </div>
</div>
