<div class="flex-container flex-dir-column talent-container dark-container">
  <!-- Header -->
  <div class="talent-header flex-child-shrink" ng-if="validClassId()">
    <img class="class-icons" ng-src="/images/class-icons/{{classId}}.png" alt="">
    <div class="change-class float-right">
      <ul class="menu">
        <li ng-repeat="(id, name) in classes" ng-click="changeClass(id)">
          <img class="class-icons small hoverable" ng-src="/images/class-icons/{{id}}.png" alt="{{name}}">
        </li>
      </ul>
    </div>

    <div class="calculator-details">
      <span>
        ( {{talentsSpentDetails[0].total}} / {{talentsSpentDetails[1].total}} / {{talentsSpentDetails[2].total}})
      </span>
      <span class="float-right">Remaining: {{talentsSpentDetails.remaining}}</span>
    </div>

    <hr>
  </div>
  <!-- Pick a class (when new) -->
  <div class="pick-class" ng-if="!validClassId()">
    <span>Pick a class</span>
    <ul class="menu align-center">
      <li ng-repeat="(id, name) in classes" ng-click="changeClass(id)">
        <img
          class="class-icons large hoverable"
          ng-src="/images/class-icons/{{id}}.png"
          alt="{{name}}"
          wm-tooltip
          position="bottom-middle"
          content="{{name}}">
      </li>
    </ul>
  </div>

  <div ng-if="validClassId()">
    <a class="button alert dark-bg" ng-click="clearTalents()">Reset all</a>
    <a class="button success dark-bg float-right" ng-click="saveTalent()">Save Talents</a>
  </div>

  <!-- Calculator -->
  <div class="calculator" ng-if="validClassId()">
    <!-- Generate 3 sub trees, talent rows & columns -->
    <div class="flex-container">
      <div ng-repeat="tree in [0, 1, 2]" class="tree" ng-style="{'background-image': 'url(/images/talents/{{classId}}/{{specs[classId][tree]}}/background.jpg)'}">
        <!-- Subtree Header -->
        <div class="subtree-header" ng-class="{'has-points': talentsSpentDetails[tree].total > 0, 'is-primary': talentsSpentDetails[tree].total > 35}">
          <span class="subtree-header-specs">{{specs[classId][tree]}}</span>
          <span>{{talentsSpentDetails[tree].total}}</span>
        </div>
        <!-- Subtree -->
        <div class="talent-row flex-container align-middle align-center" ng-repeat="row in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
          <div class="talent-col" ng-repeat="col in [0, 1, 2, 3]">
            <wm-talent col="{{col}}" row="{{row}}" tree="{{tree}}"
                       class-id="{{classId}}" talents-spent="talentsSpent"
                       talents-spent-details="talentsSpentDetails"
                       talent-tooltips="talentTooltips" talent-details="talentDetails"
                       tooltip-pos="{{tree}}"/>
          </div>
        </div>
        <!-- Subtree Footer -->
        <div class="subtree-footer">
           <a class="button hollow alert small dark-bg no-margin" ng-click="clearTalents(tree)">Reset</a>
        </div>
      </div>
      <!-- Glyphs -->
      <div class="tree glyphs">
        <!-- Glyph Header -->
        <div class="subtree-header">
          <span>Glyphs</span>
        </div>
        <!-- Major Glyphs -->
        <div class="major-glyphs flex-container align-middle align-center small-12">
            <span>Major</span>
            <div ng-repeat="g in [0, 1, 2]" ng-click="showGlyphSelectionModal(g, 1)"
                 wm-tooltip position="left-middle" content-html="getGlyphTooltip(curGlyphs[g], 1)"
                 content="{{curGlyphs[index].name || 'Left click to select'}}">
              <wm-glyph cur-glyphs="curGlyphs"index="g"/>
            </div>
        </div>
        <!-- Minor Glyphs -->
        <div class="minor-glyphs flex-container align-middle align-center">
          <span>Minor</span>
          <div ng-repeat="g in [3, 4, 5]" ng-click="showGlyphSelectionModal(g, 2)"
               wm-tooltip position="left-middle" content-html="getGlyphTooltip(curGlyphs[g], 2)"
               content="{{curGlyphs[index].name || 'Left click to select'}}">
            <wm-glyph cur-glyphs="curGlyphs" index="g"/>
          </div>
        </div>
        <!-- Glyph Footer -->
        <div class="subtree-footer">
          <a class="button hollow alert small dark-bg no-margin" ng-click="clearGlyphs()">Reset</a>
        </div>
      </div>
    </div>

    <!-- Saved characters -->
    <div class="saved-container">
      <span class="saved-container-title">Saved Talents - Test</span>
      <a class="view-all-saved button small hollow dark-bg no-margin disabled">View All</a>
      <!-- List of saved Chars -->
      <div class="saved-talentss wm-scrollbar small">
        <div class="saved-talents flex-container" ng-repeat="char in savedChars" ng-click="goToSavedTalent(char)">
          <img class="saved-talents-icon class-icons small hoverable" ng-src="/images/class-icons/{{char.classId}}.png">
          <div class="saved-talents-body">
            {{char.name}}
            <div class="saved-talents-body-info">
              ({{char.preview[0]}} / {{char.preview[1]}} / {{char.preview[2]}} )
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Glyph Modal / Overlay -->
  <div ng-if="showGlyphSelection">
    <wm-modal-glyphs glyphs="talentGlyphs" index="glyphSelectionIndex" cur-glyphs="curGlyphs" type="glyphSelectionType"/>
  </div>
</div>
